body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #c9b9c9;
    min-height: 100vh; /* Changed from height to min-height */
    margin: 0;
    border: 30px solid salmon; /* Salmon pink color */
    box-sizing: border-box;
    padding-bottom: 30px; /* Add some padding at the bottom */
  }
  
  /* Header styles */
  .header-row nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Makes the list items display horizontally */
  }
  
  .center-row {
    display: flex;
    flex-direction: column; /* This will stack the intro and content vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  
  .project {
    display: flex;
    margin: 10px;
  }
  
  .project-item {
    border: 2px solid;
  }

  /* Style all icons in the .icons div */
  .icons a {
    text-decoration: none;
    color: inherit; /* Inherits color from parent */
    margin: 0 10px; /* Adds spacing between icons */
  }

  .icons a:hover {
    color: #6e5494; /* GitHub purple on hover */
  }

.icons i {
    margin: 0 10px;
    font-size: 24px;
    transition: transform 0.3s ease;
  }