body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: #d4b2c7;
    height: 100vh;
    margin: 0;
}

/* Header styles */
.header-row nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Makes the list items display horizontally */
}

.header-row ul li {
    margin-right: 20px;
}

.center-row {
    display: flex;
    flex-direction: column; /* This will stack the intro and content vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.footer-row {
    max-width: fit-content;
    align-self: flex-start;
}